@font-face{
    font-family: 'Pixel';
    src: url('font/pixel.ttf') format('opentype');
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Pixel', sans-serif;
}

canvas {
    border-radius: 5px;
    border: solid 1px;
    margin: auto;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: white;
}

.menu{
    width: 450px;
    height: 450px;
    border: solid 1px black;
    border-radius: 5px;
    background-image: url('assets/menu.png');
}

.name-game{
    font-weight: 700;
    font-style: italic;
    text-align: center;
    padding: 30px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    color: white;
}

.menu-btn{
    font-weight: 500;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    font-size: 22px;
    padding: 10px;
    margin: auto;
    margin-bottom: 25px;
    color: #42a1f4;
    min-width: 30%;
    align-items: center;
    transition: all 0.5s;
}

.menu-btn:hover {
    background-color: #42a1f4;
    color: white;
    cursor: pointer;
    width: 31%;
}

.tutorial{
    color: white;
    margin: 10px 60px;
}

.btn-menu{
    margin-top: 35px;
}

.titulo-historia{
    margin-top: 10px;
    margin-bottom: 0;
    padding: 15px 20px;
}

.historia{
    margin: 5px 35px;
    color: white;
    text-align: justify;
    text-indent: 30px;
}

.btn-menu-historia{
    margin-top: 17px;
}